<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <title>Portfolio</title>
</head>

<body>
  <header class="header">
    <nav class="header__nav main-nav">
      <ul class="main-nav__list main-list">
        <li class="main-list__item list-item">
          <a class="list-item__link" href="#home">ANA SAYFA</a>
        </li>
        <li class="main-list__item list-item">
          <a class="list-item__link" href="#about">HAKKIMDA</a>
        </li>
        <li class="main-list__item list-item">
          <a class="list-item__link" href="#skills">BECELERİM</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <!-- Giriş -->
    <section class="main__home home" id="home">
      <h1 class="home__title">AD SOYAD</h1>
      <p class="home__subtitle">WEB GELİŞTİRİCİ, PYTHON PROGRAMCISI</p>
    </section>
    <!-- Hakkımda -->
    <section class="main__about about" id="about">
      <h2 class="about__title">HAKKIMDA</h2>
      <div class="about__info info-block">
        <p class="info-block__text">
          Benim hakkımda bilgi Benim hakkımda bilgi Benim hakkımda bilgi Benim hakkımda bilgi Benim hakkımda bilgi Benim
          hakkımda bilgi Benim hakkımda bilgi Benim hakkımda bilgi
        </p>
        <img class="info-block__img" src="../static/img/profile.png" alt="ben" width="250" height="250" />
      </div>
    </section>
    <!-- Yetenekler -->
    <section class="main__skills skills" id="skills">
      <h2 class="skills__title">BECELERİM</h2>
      <form action="/" method="POST">
        <ul class="skills__list skills-list">
          <li class="skills-list__skill skill">
            <img class="skill__img" src="../static/img/python.png" alt="python" width="150" height="150" />
            <span class="skill__info">Beceriler hakkında bilgi</span>
            <input class="skill__button" type="submit" name="button_python" value="PROJEYİ GÖSTER">
          </li>
          <li class="skills-list__skill skill">
            <img class="skill__img" src="../static/img/discord.png" alt="discord" width="150" height="150" />
            <span class="skill__info">Beceriler hakkında bilgi</span>
            <input class="skill__button" type="submit" name="button_discord" value="PROJEYİ GÖSTER">
          </li>
          <li class="skills-list__skill skill">
            <img class="skill__img" src="../static/img/html.png" alt="html" width="150" height="150" />
            <span class="skill__info">Beceriler hakkında bilgi</span>
            <input class="skill__button" type="submit" name="button_html" value="PROJEYİ GÖSTER">
          </li>
          <li class="skills-list__skill skill">
            <img class="skill__img" src="../static/img/db.webp" alt="SQL" width="150" height="150" />
            <span class="skill__info">Beceriler hakkında bilgi</span>
            <input class="skill__button" type="submit" name="button_db" value="PROJEYİ GÖSTER">
          </li>
        </ul>
      </form>
      {% if button_python%}
      <div class="skills__project project" id="project">
        <img class="project__img" src="../static/img/python-project.png" alt="proje" width="500">
        <a class="project__link" href="">GitHub'da Aç</a>
      </div>
      {% endif %}
    </section>
    <!-- Geri bildirim -->
    <section class="main__feedback feedback" id="feedback">
      <h2 class="feedback__title">GERİ BİLDİRİM</h2>
      <form action="" method="POST" class="feedback__form form">
        <label for="email">
          <input type="email" class="form__input" name="email" id="email" placeholder="E-posta Adresini Girin" required>
        </label>
        <label for="text">
          <textarea name="text" class="form__input" id="text" cols="70" rows="10" required
            placeholder="Yorumunuzu Yazın"></textarea>
        </label>
        <button class="form__button" type="submit">GÖNDER</button>
      </form>
    </section>
  </main>
  <!-- Sosyal medya bağlantıları -->
  <footer>

  </footer>
</body>

</html>
